.online-2S838R:not(.statusProfile-3ynqtt):not(.status-3fQvEa):not(.popout-2fzvxG) {
border-width: 1.5px !important;}

.dnd-1_xrcq:not(.statusProfile-3ynqtt):not(.status-3fQvEa):not(.popout-2fzvxG) {
border-width: 1.5px !important;}

.idle-3DEnRT:not(.statusProfile-3ynqtt):not(.status-3fQvEa):not(.popout-2fzvxG) {
border-width: 1.5px !important;}

.avatarOffline-3GF27z {
border-width: 1.5px !important;}
